.headerbnk {
    height: 70px;
    background: url(../../assets/images/imgBNK48/group-28.png) no-repeat center;
    background-color: #49C5A8;
    background-size: 100% 100%;
.logoBNK48 {
        transform: translateX(50%);

        img {
            width: 150px;
        }
    }
}