.footer {
    height: 80px;
    background-color: #31816E;
    p{
        color: white;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        transform: translateY(100%);
    }
}